body {
  font-family: Arial, sans-serif;
  color: #222;
  font-size: 14px;
}

a {
  color: #1a0dab;
  text-decoration: none;
}

ul {
    list-style-type: none; /* Removes the bullets */
    margin: 0; /*remove browser default settings*/
    padding: 0; 
  }

header {
  display: flex;
  justify-content: flex-end;
  height: 48px;
}

header nav {
  padding: 0 4px 0 32px;
}

header ul {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 15px;
  height: 48px;
}

header a {
  color: #000000DE;
  font-size: 13px;
}

header a:hover {
  text-decoration: underline;
}

header li {
  align-self: center;
}

.profile-image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.google-logo {
  height: 182px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.google-logo img {
  max-width: 272px;
  height: 92px;
}

.center-path {
  height: 120px;
  padding: 20px;
}

.search-area {
  max-width: 584px;
  padding-top: 6px;
  margin: 0 auto;
  width: auto;
  position: relative;
}

.search-box {
  background: #fff;
  display: flex;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  height: 42px;
  margin: 0 auto;
  width: 582px;
}

.search-box:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.glass-btn {
  padding: 0 13px 0 14px;
}

.search-box input {
  border: none;
  width: 447px;
  height: 34px;
  margin: 4px 0px;
}

.search-box img {
  height: 24px;
  width: 24px;
  padding: 9px 8px 9px 8px;
}

.audio-search {
  padding: 0px 8px;
}

.search-btn {
  padding-top: 18px;
  display: flex;
  justify-content: center;
}

.search-btn input {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
}

.language {
  font-size: small;
  margin-bottom: 24px;
  text-align: center;
}

.language-link {
  display: inline-block;
  line-height: 28px;
}

.language-link a {
  padding: 0 3px;
}

.language-link a:hover {
  text-decoration: underline;
}


